
.top{
  background-color: brown;
  height: 15px;

}
header{
  text-align: center;
  border-bottom: 0.5px solid gray;
  padding-bottom: 15px;

}
h1{
  font-family: 'Slabo 27px', serif;
  opacity: 1;

    color: #222;
}
h2{
color: #444;
}
h3{
  font-size: 25px;
}
h1:hover{
  color: #99CCFF;
  opacity: 0.4;
}
.web:hover{
  color: #99CCFF;
}
li{
  transform: rotate(5deg);
  margin-top: 50px;
  display: inline-block;
  color: #222;
  background-color: lightgray;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  border: 2px solid gray;

}
li:hover{
  color: #99CCFF;
  margin: 1%;
}
section{
  backgroud-color: rgba(0,105,25,0.3);



}
.nyron {
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    border: 2px solid brown;
    margin-top: 50px;}


.nyron:hover{

  opacity: 0.5;
}
.intro{
  font-size: 40px;
}
p{
  font-size: 20px;
  padding-top: 20px;
}
.button{

padding: 30px 15px 30px 15px;
  margin-bottom: 3px;
  border-radius: 50%;
  font-size: 20px;
}
.button:hover{
  background-color: white;
  color: brown;
  margin: 1%;

}
.email{
  width: 20px;
  height: 20px;
}
.e{
  width: 20px;
  height: 20px;
}

.btn-primary {margin: 20px 0;}

footer{
  text-align: center;
}

.icons{
  margin-top: 30px;
  width: 75px;
  height: 75px;

}
.bottom{
  background-color: darkgreen;
  height: 15px;

}
